$color-primary: #8c3232;
$color-primary-dark: #7e2d2d;
$color-primary-darker: #772a2a;
$color-primary-darkest: #622323;
$color-primary-light: #9a3737;
$color-primary-lighter: #a13939;
$color-primary-lightest: #b64141;

$color-secondary: #8c5f32;
$color-secondary-dark: #7e562d;
$color-secondary-darker: #77512a;
$color-secondary-darkest: #624323;
$color-secondary-light: #9a6937;
$color-secondary-lighter: #a16d39;
$color-secondary-lightest: #b67c41;

$color-tertiary: #32328c;
$color-tertiary-dark: #2d2d7e;
$color-tertiary-darker: #2a2a77;
$color-tertiary-darkest: #232362;
$color-tertiary-light: #37379a;
$color-tertiary-lighter: #3939a1;
$color-tertiary-lightest: #4141b6;

$color-quaternary: #328c32;
$color-quaternary-dark: #2d7e2d;
$color-quaternary-darker: #2a772a;
$color-quaternary-darkest: #236223;
$color-quaternary-light: #379a37;
$color-quaternary-lighter: #39a139;
$color-quaternary-lightest: #41b641;